{% extends '::layoutAdmin.html.twig' %}

{% block body -%}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{app.user.username}} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
{% endif %}
<h1>Medecin list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>CIN</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('medecin_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.cin }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.tel }}</td>
                <td style="text-align: center;">
                    {% if entity.enabled==1 %}
                        <img src="{{ asset('img/valider.png') }}"/>
                    {% else %}
                        <img src="{{ asset('img/annuler.png') }}"/>
                    {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                {% if entity.enabled==1 %}
                                    <a href="{{ path('medecin_desactivate', { 'id': entity.id }) }}">desactiver</a>
                                {% else %}
                                    <a href="{{ path('medecin_activate', { 'id': entity.id }) }}">activate</a>
                                {% endif %}
                                </li>
                                <li>
                                    <a href="{{ path('medecin_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                
                                <li>
                                    <a href="{{ path('medecin_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
        {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('medecin_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
    {% endblock %}
